.nanum-myeongjo-regular {
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
}
.nanum-myeongjo-bold {
font-family: "Nanum Myeongjo", serif;
font-weight: 700;
font-style: normal;
}
.nanum-myeongjo-extrabold {
font-family: "Nanum Myeongjo", serif;
font-weight: 800;
font-style: normal;
}

$bg: #FCFAFA;
$primary: #DDCBBE;
$text-default: #2D2D2D;
  