@import 'variables', 'reset';

.screen-out {
    max-height: 0;
    opacity: 0;
}

.wrap {
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    .hd-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        margin: 0 auto;
        height: 100%;
        padding: 0 20px ;
    }
    .gnb-bar {
        display: flex;
        flex-direction: column;
        gap: 15px;
        span {
            display: block;
            width: 40px;
            height: 1px;
            color: white;
        }
    }
}

.main-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    background-image: url(../../images/bg-main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    .main-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: white;
    }
    strong {
        position: relative;
        font-size: 64px;
        &::after {
            content: '';
            position: absolute;
            right: -26px;
            bottom: 23px;
            display: block;
            width: 25px;
            height: 4px;
            background: white;
            animation: blink 1s steps(2) infinite;
        }
        @keyframes blink {
            0% {
                opacity: 0;
            }            
            100% {
                opacity: 1;
            }            
        }
    }
    p {
        margin: 30px 0 60px;
        font-size: 24px;
        font-weight: 700;
    }
    a {
        padding: 15px 20px;
        border-radius: 50px;
        font-weight: 700;
        color: $text-default;
        background: $primary;
    }
}

.intro {
    .intro-wrap {
        display: flex;
        justify-content: center;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
    }
    .title-wrap {
        padding: 300px 0 200px;
        width: 100%;
        text-align: center;
        background: $bg;
        h2 {
            font-size: 70px;
            font-weight: 700;
        }
        span {
            font-size: 20px;
            font-weight: 700;
        }
    }
    .intro-bg {
        width: 100%;
        height: 350px;
        img {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: -100;
        }
    }
    .box-wrap {
        display: flex;
        justify-content: center;
        gap: 10%;
        padding: 300px 0;
        width: 100%;
        background: $bg;
        .intro-box:last-child {
            margin-top: 350px;
        }
        img {
            display: block;
            width: 430px;
            height: 600px;
        }
        strong {
            display: block;
            margin: 100px 0 30px;
            font-size: 28px;
            font-weight: 700;
        }
        p {
            font-size: 16px;
        }
        > p {
            margin-top: 100px;
        }
    }
}

.info {
    background: $bg;
    .info-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 100px;
    }
    .card-wrap {
        margin-bottom: 100px;
        ul {
            display: flex;
            gap: 35px;
        }
        li {
            &:nth-child(2) {
                margin-top: 100px;
            }
            &:nth-child(3) {
                margin-top: 200px;
            }
        }
        img {
            width: 300px;
            height: 480px;
            object-fit: cover;
        }
    }
    p {
        text-align: center;
    }
}

#hotels {
    background: $bg;
    .cont-wrap {
        display: flex;
        background: rgba(221, 203, 190, 0.3);
    }
    .hotel-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 25%;
        text-align: end;
        img {
            height: 30px;
            object-fit: cover;
        }
        strong {
            position: relative;
            display: block;
            margin-top: 35px;
            font-size: 40px;
            &::after {
                content: '';
                position: absolute;
                top: 5px;
                right: -12px;
                width: 8px;
                height: 8px;
                border-radius: 4px;
                background: $primary;
            }
        }
        span {
            display: block;
            margin: 45px 0;
            width: 30px;
            height: 1px;
            background: $text-default;
        }
        p {
            margin-bottom: 55px;
            font-size: 16px;
        }
        a {
            font-size: 12px;
            color: $text-default;
        }
    }
    .hotel-img {
        width: 75%;
        img {
            display: block;
            // width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


#hotels #hotels-wrap {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 0;
    overflow: hidden;
}
#hotels #hotels-wrap .hotel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #333;
    text-align: left;
    border-right: 1px solid #f00;
}
// #hotels #hotels-wrap .hotel img {
//     max-width: 100%;
//     height: auto;
//     display: block;
// }
#hotels #hotels-wrap .hotel .hotels-navigation {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
#hotels #hotels-wrap .hotel .anchor-panel,
#hotels #hotels-wrap .hotel .nav-panel {
    color: #000;
    text-transform: uppercase;
    margin-right: 2rem;
}
#hotels #hotels-wrap .hotels-navigation {
    position: absolute;
    width: 100%;
    bottom: 2rem;
    right: 2rem;
}
